*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border: none;
	outline: none;
	background: none;

}

::-webkit-scrollbar {
  width: 0.6em;
}

::-webkit-scrollbar-track {
	background: #31304a;
}

::-webkit-scrollbar-thumb {
	background: #31304a
}